body{
  margin: 0;
  padding: 0;
  background: linear-gradient(132deg, #ff4d4d, #80ccff);
  background-size: 400% 400%;
  animation: BackgroundGradient 20s ease infinite;
}

@keyframes BackgroundGradient{
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position:  0% 50%;}

}



.content {
	padding-top: 500; 
	max-width: 500px;
	margin: auto;
	text-align: center;
}

.content .btn{
	border-radius: 9px;
	color: #f9f3f4;
	text-decoration: none;
	font-family: 'Century Gothic',sans-serif;
	border: 3px solid;
	padding: 7px 13px;
	font-weight: bold;
}

.content .btn:hover{
	color: black;
}



.fly-in-text{

  list-style: none;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
}
.fly-in-text li{
  display: inline-table;
  color: #fff;
  margin-right: 50;
  font-family: 'Century Gothic' ,sans-serif;

  font-size: 3em;
  color: #fff;
  opacity: 1;
  text-decoration: italic;
  transition: all 3.5s ease;
} 

.fly-in-text li:last-child {
  margin-right: 0;

}

.fly-in-text.hidden li {
 opacity: 0;
}

.fly-in-text.hidden li:nth-child(1) { transform: translateX(-300px) translateY(-150px); }
.fly-in-text.hidden li:nth-child(2) { transform: translateX(-250px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(3) { transform: translateX(-230px) translateY(-60px); }
.fly-in-text.hidden li:nth-child(4) { transform: translateX(-10px) translateY(-100px); }
.fly-in-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(6) { transform: translateX(-175px) translateY(-140px); }
.fly-in-text.hidden li:nth-child(7) { transform: translateX(-30px) translateY(-230px); }
